* {
  font-family: fantasy;
}


.horizontalcenter {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  background-color: transparent;
  border:0cap;
}
button:hover {
  color: gray;
}

.bottom-text {
  margin-top: auto;
}

