* {
  font-family: fantasy;
}

.horizontalcenter {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  background-color: transparent;
  border:0cap;
}

button:hover {
  color: gray;
}

.bottom-text {
  margin-top: auto;
}

body {
  background-image: url(Home\ background\ .jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  position: relative;
  min-height: 100vh;
}

.dog {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
